html, body{
    height: 100%;
    background-color: black;
}
img{
    display: inline;
    margin-left: 10px;
}
h1{
    color: lime;
}
p{
    color: aqua;
}
.footer{
    color: white;
    background-color: red;
    text-align: center;
}