html, body{
    height: 100%;
    background-color: black;
}
img{
    display: inline;
    margin-left: 10px;
}
h1{
    color: rgb(130, 255, 6);
}
p{
    color: rgb(34, 177, 177);
}
.footer{
    color: aqua;
    background-color: red;
    text-align: center;
}